## Bouns Function (Replace_Missing_Value)
### The functions handling the missing value or null value in a different way (by mean , median , mode , backward , forward fill , both back and forward fill)
### Bashair Alshammri - Data Science Bootcamp

In [1]:
#library
import pandas as pd
import numpy as np
import math
from statistics import mean, median, mode, stdev

In [24]:
# creating a Data frame that contain missing value and category value for test the bouns function
df = pd.DataFrame(
    {
        'category': [True, True, True, True, True, True, False, False, False],
        'name': ['A','A', 'B','B','B','B', 'C','C','C'],
        'other_value': [10, np.nan, np.nan, 20, 30, 10, 30, np.nan, 30],
        'value': [1, np.nan, np.nan, 2, 3, 1, 3, np.nan, 3],
    }
)

In [25]:
df

   category name  other_value  value
0      True    A         10.0    1.0
1      True    A          NaN    NaN
2      True    B          NaN    NaN
3      True    B         20.0    2.0
4      True    B         30.0    3.0
5      True    B         10.0    1.0
6     False    C         30.0    3.0
7     False    C          NaN    NaN
8     False    C         30.0    3.0

In [26]:
# creating function that check the type of column and it return boolean value
def is_cat(column):
    categorical_dtypes = ['object', 'category', 'bool']
    if column.dtype.name in categorical_dtypes:
        return True
    else:
        return False

In [5]:
column_names = ['other_value','name']# create a list of category column just for test 
column_names
columnWithMissingValue1 = ['value']# create a column that contain a missing value
columnWithMissingValue1

['value']

In [27]:
# create a function that replace a missing value depend on the criteria
def replace_Missing_Value(df , listOfNames , columnWithMissingValue , Criteria):
   # here i test all list of column name if categorical or not
    test_cat = True
    for i in listOfNames:
        if is_cat(df[i])==True:
            test_cat = test_cat
        else:
            test_cat = False
   # here i replace the missing value depend on the criteria         
    if test_cat == True :
        if Criteria == 'mean':
            df[columnWithMissingValue] = df.groupby(listOfNames)[columnWithMissingValue]\
                .transform(lambda x: x.fillna(x.mean()))
        elif Criteria == 'median':
            df[columnWithMissingValue] = df.groupby(listOfNames)[columnWithMissingValue]\
                .apply(lambda x: x.fillna(x.median()))
        elif Criteria == 'mode':
            df[columnWithMissingValue] = df.groupby(listOfNames , sort=False)[columnWithMissingValue]\
                .apply(lambda x: x.fillna(x.mode().iloc[0]))
                
        elif Criteria == 'Forward':
            df[columnWithMissingValue] = df.groupby(listOfNames)[columnWithMissingValue].ffill()
        elif Criteria == 'Backward':
            df[columnWithMissingValue] = df.groupby(listOfNames)[columnWithMissingValue].bfill()
        elif Criteria == 'Combining': 
            df[columnWithMissingValue] = df.groupby(listOfNames)[columnWithMissingValue].ffill().bfill()
        else :
            print("invalid input for criteria")
            
    else :
        print("invalid input of category list")
   
    return df

In [7]:
 print(replace_Missing_Value( df , column_names , columnWithMissingValue1 , 'Criteria' )) # test

invalid input of category list
  category name  other_value  value
0        X    A         10.0    1.0
1        X    A          NaN    NaN
2        X    B          NaN    NaN
3        X    B         20.0    2.0
4        X    B         30.0    3.0
5        X    B         10.0    1.0
6        Y    C         30.0    3.0
7        Y    C          NaN    NaN
8        Y    C         30.0    3.0

In [28]:
column_names = ['category','name']# create a list of category column just for test 
columnWithMissingValue1 = ['value']# create a column that contain a missing value

In [9]:
print(replace_Missing_Value( df , column_names , columnWithMissingValue1 , 'Criteria' )) # test

invalid input for criteria
  category name  other_value  value
0        X    A         10.0    1.0
1        X    A          NaN    NaN
2        X    B          NaN    NaN
3        X    B         20.0    2.0
4        X    B         30.0    3.0
5        X    B         10.0    1.0
6        Y    C         30.0    3.0
7        Y    C          NaN    NaN
8        Y    C         30.0    3.0

In [29]:
print(replace_Missing_Value( df , column_names , columnWithMissingValue1 , 'mean' )) # test

   category name  other_value  value
0      True    A         10.0    1.0
1      True    A          NaN    1.0
2      True    B          NaN    2.0
3      True    B         20.0    2.0
4      True    B         30.0    3.0
5      True    B         10.0    1.0
6     False    C         30.0    3.0
7     False    C          NaN    3.0
8     False    C         30.0    3.0

In [11]:
df = pd.DataFrame(
    {
        'category': ['X', 'X', 'X', 'X', 'X', 'X', 'Y', 'Y', 'Y'],
        'name': ['A','A', 'B','B','B','B', 'C','C','C'],
        'other_value': [10, np.nan, np.nan, 20, 30, 10, 30, np.nan, 30],
        'value': [1, np.nan, np.nan, 2, 3, 1, 3, np.nan, 3],
    }
)

In [12]:
print(replace_Missing_Value( df , column_names , columnWithMissingValue1 , 'median' )) # test

  category name  other_value  value
0        X    A         10.0    1.0
1        X    A          NaN    1.0
2        X    B          NaN    2.0
3        X    B         20.0    2.0
4        X    B         30.0    3.0
5        X    B         10.0    1.0
6        Y    C         30.0    3.0
7        Y    C          NaN    3.0
8        Y    C         30.0    3.0

In [16]:
df = pd.DataFrame(
    {
        'category': ['X', 'X', 'X', 'X', 'X', 'X', 'Y', 'Y', 'Y'],
        'name': ['A','A', 'B','B','B','B', 'C','C','C'],
        'other_value': [10, np.nan, np.nan, 20, 30, 10, 30, np.nan, 30],
        'value': [1, np.nan, np.nan, 2, 3, 1, 3, np.nan, 3],
    }
)

In [17]:
print(replace_Missing_Value( df , column_names , columnWithMissingValue1 , 'mode' )) # test

  category name  other_value  value
0        X    A         10.0    1.0
1        X    A          NaN    1.0
2        X    B          NaN    1.0
3        X    B         20.0    2.0
4        X    B         30.0    3.0
5        X    B         10.0    1.0
6        Y    C         30.0    3.0
7        Y    C          NaN    3.0
8        Y    C         30.0    3.0

In [18]:
df = pd.DataFrame(
    {
        'category': ['X', 'X', 'X', 'X', 'X', 'X', 'Y', 'Y', 'Y'],
        'name': ['A','A', 'B','B','B','B', 'C','C','C'],
        'other_value': [10, np.nan, np.nan, 20, 30, 10, 30, np.nan, 30],
        'value': [1, np.nan, np.nan, 2, 3, 1, 3, np.nan, 3],
    }
)

In [19]:
print(replace_Missing_Value( df , column_names , columnWithMissingValue1 , 'Forward' )) # test

  category name  other_value  value
0        X    A         10.0    1.0
1        X    A          NaN    1.0
2        X    B          NaN    NaN
3        X    B         20.0    2.0
4        X    B         30.0    3.0
5        X    B         10.0    1.0
6        Y    C         30.0    3.0
7        Y    C          NaN    3.0
8        Y    C         30.0    3.0

In [20]:
df = pd.DataFrame(
    {
        'category': ['X', 'X', 'X', 'X', 'X', 'X', 'Y', 'Y', 'Y'],
        'name': ['A','A', 'B','B','B','B', 'C','C','C'],
        'other_value': [10, np.nan, np.nan, 20, 30, 10, 30, np.nan, 30],
        'value': [1, np.nan, np.nan, 2, 3, 1, 3, np.nan, 3],
    }
)

In [21]:
print(replace_Missing_Value( df , column_names , columnWithMissingValue1 , 'Backward' )) # test

  category name  other_value  value
0        X    A         10.0    1.0
1        X    A          NaN    NaN
2        X    B          NaN    2.0
3        X    B         20.0    2.0
4        X    B         30.0    3.0
5        X    B         10.0    1.0
6        Y    C         30.0    3.0
7        Y    C          NaN    3.0
8        Y    C         30.0    3.0

In [22]:
df = pd.DataFrame(
    {
        'category': ['X', 'X', 'X', 'X', 'X', 'X', 'Y', 'Y', 'Y'],
        'name': ['A','A', 'B','B','B','B', 'C','C','C'],
        'other_value': [10, np.nan, np.nan, 20, 30, 10, 30, np.nan, 30],
        'value': [1, np.nan, np.nan, 2, 3, 1, 3, np.nan, 3],
    }
)

In [23]:
print(replace_Missing_Value( df , column_names , columnWithMissingValue1 , 'Combining' )) # test

  category name  other_value  value
0        X    A         10.0    1.0
1        X    A          NaN    1.0
2        X    B          NaN    2.0
3        X    B         20.0    2.0
4        X    B         30.0    3.0
5        X    B         10.0    1.0
6        Y    C         30.0    3.0
7        Y    C          NaN    3.0
8        Y    C         30.0    3.0